/* basic styling */

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link{
  text-decoration: none;
}

h1, h2{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #0C8FA3;
}

h4{
  margin-top: 3%;
  margin-bottom: 0;
  padding: 0;
}

input{
  border: none;
  background-color: #f5f5f5;
  outline: none;
  padding: 15px;
  border-radius: 20px;
}

input[type="file"]{
  margin: 0;
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  color: transparent;
  float: left;
  background-color: transparent;
}

label{
  float: left;
  margin-top: 2%;
}

::-webkit-file-upload-button{
  font-weight: bold;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 4%;
  border-radius: 20px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  background-color: #0C8FA3;
}

.button{
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 1%;
  width: 100px;
  padding: 2%;
  border-radius: 20px;
  background-color: #10AFBA;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.button:hover{
  background-color: #0C8FA3;
  color: white;
  cursor: pointer;
}

hr{
  border-top: #0C8FA3 1px dashed;
}

/* -------------------------------------------------------------------- */

/* Login Page Styling */
.login{
  width: 100%;
  height: 100vh;
}

/* Login form */
.loginForm{
  width: 35%;
  height: 100vh;
  float: left;
  text-align: center;
}

.loginLogo{
  width: 100px;
  height: 100px;
  padding: 10%;
  margin: 0 auto;
  margin-top: 20%;
  background-image: url('assets/mainLogo.svg');
  background-position: center;
  background-size: cover;
}

.loginForm input{
  width: 55%;
  margin-bottom: 3%;
}

.loginForm, .registerForm p{
  margin: 0;
  color: #9A9A9A;
}

/* Login Img */
.loginImg{
  width: 65%;
  height: 100vh;
  background-image: url('assets/loginImg.jpg');
  background-position: center;
  background-size: cover;
  float: left;
}

/* -------------------------------------------------------------------- */

/* Register Form */
.Register{
  width: 100%;
  height: 100vh;
}

.registerForm{
  width: 50%;
  height: 100vh;
  float: left;
  text-align: center;
}

.registerLogo{
  width: 30px;
  height: 30px;
  padding: 10%;
  margin: 0 auto;
  margin-top: 3%;
  background-image: url('assets/mainLogo.svg');
  background-position: center;
  background-size: cover;
}

.registerForm h1{
  margin-top: 1%;
}

.registerForm input{
  width: 64%;
  margin-bottom: 2%;
}

.registerForm #nameInputRegister, #surnameInputRegister, #ageInputRegister, #genderInputRegister{
  width: 29%;
}

.registerForm #genderInputRegister, #surnameInputRegister{
  margin-left: 2%;
}

.registerImg{
  width: 30%;
  height: 60vh;
  padding: 8%;
  background-image: url('assets/loginImg.jpg');
  background-size: cover;
  background-position: center;
  float: left;
}

/* -------------------------------------------------------------------- */
/* DASHBOARD */
.dashboard{
  width: 100%;
  height: 100vh;
}

/* -------------------------------------------------------------------- */

/* navBar */
.sideNav{
  width: 5%;
  padding: 1%;
  height: 96.2vh;
  background-color: #0C8FA3;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  float: left;
  position: fixed;
}

.sideNav p {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: white;
  margin-top: 0;
}

.navLogo{
  margin: 0 auto;
  width: 70px;
  height: 70px;
  background-image: url('assets/whiteLogo.svg');
  background-position: center;
  background-size: cover;
}

.home{
  margin: 0 auto;
  margin-top: 150%;
  width: 30px;
  height: 30px;
  background-image: url('assets/icons/home.png');
  background-position: center;
  background-size: cover;
}

.doctors{
  margin: 0 auto;
  margin-top: 100%;
  width: 50px;
  height: 50px;
  background-image: url('assets/icons/doctor.png');
  background-position: center;
  background-size: cover;
}

.patients{
  margin: 0 auto;
  margin-top: 100%;
  width: 50px;
  height: 50px;
  background-image: url('assets/icons/patient.png');
  background-position: center;
  background-size: cover;
}

.logout{
  margin: 0 auto;
  margin-top: 200%;
  width: 50px;
  height: 50px;
  background-image: url('assets/icons/logOut.png');
  background-position: center;
  background-size: cover;
}

/* -------------------------------------------------------------------- */
/* Landing Page */

/* Left-content */
.leftContent, .rightContent{
  width: 50%;
  height: 100vh;
  float: left;
}

.editLanding{
  width: 93%;
  height: 100vh;
  float: left;
  margin: 0;
  padding: 0;
  margin-left: 7%;
}

.editPatients, .editDoctors{
  width: 93%;
  height: 100vh;
  float: right;
  margin: 0;
  padding: 0;
  margin-left: 7%;
}

/* Intro */
.intro{
  width: 100%;
  height: 20vh;
}


.landingImg{
  width: 190px;
  height: 190px;
  background-image: url('assets/Receptionist.svg');
  background-position: center;
  background-size: cover;
  float: left;
  margin-left: 4%;
  margin-top: 1%;
}

.introBlock{
  width: 65%;
  float: left;
}

.introBlock h1{
  text-align: left;
  margin-top: 12%;
  margin-bottom: 0;
}
.introBlock p{
  text-align: left;
  margin-top: 1%;
}

/* Appointents */

.appointments h2{
  margin-top: 8%;
  text-align: left;
  margin-left: 4%;
}

.row_item{
  width: 90%;
  height: 3vh;
  padding: 2%;
  background-color: #DBEFEE;
  border-radius: 20px;
  margin-left: 4%;
  margin-bottom: 2vh;
}

.row_item p{
  float: left;
  margin: 0;
  margin-left: 4%;
}

.leftContent .button{
  width: 30%;
}

/* Right content */
.upcomingAppointment h2{
  text-align: left;
  margin-left: 4%;
}

.patientDetails{
  width: 87%;
  height: 27vh;
  padding: 2%;
  background-color: #DBEFEE;
  margin-left: 4%;
  border-radius: 20px;
}

.profilePicture{
  width: 50%;
  height: 100%;
  border: #0C8FA3 6px solid;
  background-image: url('assets/patients/Patient1.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
}

.appointmentDetails{
  float: left;
  margin-left: 5%;
}

/* -------------------------------------------------------------------------------------- */
/* Doctors Page */
.editDoctors h1{
  text-align: left;
  margin-left: 3%;
}

.editPatients h1{
  text-align: left;
  margin-left: 3%;
}

.doctorsList, .patientsList{
  width: 60%;
  height: 100%;
  float: left;
}

.doctorCard, .patientCard{
  padding: 2%;
  margin-left: 3%;
  width: 25%;
  background-color: #DBEFEE;
  border-radius: 20px;
  text-align: center;
  float: left;
  margin-bottom: 2%;
}

.doctorProfile1{
  margin: 0 auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-image: url('assets/doctors/Doc1.jpg');
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: #0C8FA3 4px solid;
}

.doctorProfile2{
  margin: 0 auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-image: url('assets/doctors/Doc2.jpg');
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: #0C8FA3 4px solid;
}

.doctorProfile3{
  margin: 0 auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-image: url('assets/doctors/Doc3.jpg');
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: #0C8FA3 4px solid;
}

.doctorProfile4{
  margin: 0 auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-image: url('assets/doctors/Doc4.jpg');
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: #0C8FA3 4px solid;
}

.doctorProfile5{
  margin: 0 auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-image: url('assets/doctors/Doc5.jpg');
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: #0C8FA3 4px solid;
}

.doctorProfile6{
  margin: 0 auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-image: url('assets/doctors/Doc6.jpg');
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: #0C8FA3 4px solid;
}

.doctorProfile7{
  margin: 0 auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-image: url('assets/doctors/Doc7.jpg');
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: #0C8FA3 4px solid;
}

#specialiation, #medicalAidNo{
  margin-top: 0;
}

.doctorCard p {
  margin-top: 1%;
  margin-bottom: 1%;
}

.addDoctor, .addPatient{
  width: 40%;
  float: right;
}

.addDoctor h2{
  text-align: left;
  margin-left: 2%;
}

.doctorImg{
  margin: 0 auto;
  margin-top: 4%;
  width: 300px;
  height: 250px;
  background-image: url('assets/doctorImg.svg');
  background-size: cover;
  background-position: center;
}

form{
  margin-left: 2%;
}

.addDoctor #nameInput, #surnameInput, #ageInput, #genderInput{
  width: 40%;
  margin-bottom: 2%;
}

.addDoctor #cellInput, #emailInput, #password{
  width: 87.5%;
  margin-bottom: 2%;
}

.addDoctor #specialization, #room{
  width: 40%;
  margin-bottom: 2%;
}

.addDoctor #specialization{
  margin-right: 2%;
}

.addDoctor .button{
  width: 150px;
}

/* --------------------------------------------------------------------- */

.patientProfile1{
  margin: 0 auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-image: url('assets/patients/Patient1.jpg');
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: #0C8FA3 4px solid;
}

.patientProfile2{
  margin: 0 auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-image: url('assets/patients/Patient2.jpg');
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: #0C8FA3 4px solid;
}

.patientProfile3{
  margin: 0 auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-image: url('assets/patients/Patient3.jpg');
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: #0C8FA3 4px solid;
}

.patientProfile4{
  margin: 0 auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-image: url('assets/patients/Patient4.jpg');
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: #0C8FA3 4px solid;
}

.patientProfile5{
  margin: 0 auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-image: url('assets/patients/Patient5.jpg');
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: #0C8FA3 4px solid;
}

.patientProfile6{
  margin: 0 auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-image: url('assets/patients/Patient6.jpg');
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: #0C8FA3 4px solid;
}

.patientProfile7{
  margin: 0 auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-image: url('assets/patients/Patient7.jpg');
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: #0C8FA3 4px solid;
}

.patientCard p {
  margin-top: 1%;
  margin-bottom: 1%;
}

.addPatient #nameInput, #surnameInput, #ageInput, #genderInput, #cellInput, #medicalAidNoInput{
  width: 40%;
  margin-bottom: 2%;
}

.addPatient #emailInput, #password{
  width: 87.5%;
  margin-bottom: 2%;
}

.addPatient #cellInput{
  margin-right: 2%;
}

.addPatient .button{
  width: 150px;
}

.patientImg{
  margin: 0 auto;
  margin-top: 4%;
  width: 80%;
  height: 300px;
  background-image: url('assets/patientImg.jpg');
  background-size: cover;
  background-position: center;
}